@use './variables.scss' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base), serif;
  background: #f8f9fa;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
